.card {
  width: 310px;
  background: white;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.1vmin solid #05060f;
  box-shadow: 0.4rem 0.4rem #05060f;
  overflow: hidden;
  color: black;
  /*Card content*/
  .pricing-block-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 0.5rem;
    .tag {
      background: #f4d04e;
      color: #05060f;
      font-weight: 800;
      width: 80px;
      font-size: 12px;
      text-align: center;
      border-radius: 3px;
    }
    .publishedDate {
      color: #05060f;
      font-size: 14px;
    }
    .title {
      color: #05060f;
      font-weight: 800;
      cursor: pointer;
    }
    .title:hover{
        color: #f4d04e;
    }
    .description {
      color: #6b6b6b;
      font-size: 16px;
    }
    .authorDetails {
      display: flex;
      justify-content: left;
      align-items: center;
      gap: 6px;
    }
    .imageAvatar {
      width: 50px;
    }
    .autherName {
      color: #05060f;
      font-weight: 800;
      font-size: 14px;
    }
  }
}
